/**************************************************************************/
/* Reparatie Divi Vimeo Video als CookieYes hem ondderuit heeft getrokken */
.et_pb_video .video-placeholder-normal {
    width: auto !important;
    height: 0 !important;
    padding-top: 56%;
}

.et_pb_video .fluid-width-video-wrapper .video-placeholder-normal {
    padding-top: 0 !important;
}

.et_pb_video .et_pb_video_overlay {
    z-index: 0 !important;
}

.video-placeholder-normal .video-placeholder-text-normal {
    position: relative;
    top: -70px;
    height: 1.5rem;
}
/**************************************************************************/
